@font-face {
    font-family: "geomanist-medium";
    src: url("geomanist-medium-webfont.ttf");
}

@font-face {
    font-family: "geomanist-book";
    src: url("geomanist-book-webfont.ttf");
}

@font-face {
    font-family: "space-mono";
    src: url("https://fonts.googleapis.com/css?family=Space+Mono");
}

h1 {
    font-family: 'geomanist-medium', sans-serif;
    font-size: 1.875rem;
    color: #12213A;
    letter-spacing: 0.2em;
    padding: 5px;  
    }

h1:hover{
    color: #2AD2B0;
   } 

h2:hover{
    color: #2AD2B0;
   } 
  
h2 {
    font-family: 'geomanist-book', sans-serif;
    font-size: 1.5rem;
    color: #12213A;
    padding: 5px;
}

h3 {
    font-family: 'geomanist-book', sans-serif;
    font-size: 65px;
    color: #12213A;
}

p {
    font-family: 'space-mono', monospace;
    font-size: 18px;
    color: #12213A;
}
div {
    font-family: 'geomanist-book', Helvetica, sans-serif;
    font-size: 24px;
    color: #12213A;
}

i{
    font-size: 	3rem;
    color: #12213A;
}

a{
    font-family: 'space-mono', monospace;
    font-size: 18px;
    color: #12213A;
}

.about{
    margin-bottom: 20em;
    margin-top: 5em;
}

.header{
    background: url("background4.png") no-repeat;
    width: 100%;
    background-size: contain;
}

.background2{
    background: url("background_swatchbook.png") no-repeat;
    width: 100%;
    background-size: contain;
    background-position-y: 25em;
}

.work{
    margin-bottom: 5em;
}

.space{
    margin-bottom: 25em;
}

.footer{
    background: url("background3.png") no-repeat;
    width: 100%;
    background-size: contain;
    background-position-y: 20em;
    margin-top: 10em;
}
html{
    background: url("background3.png") no-repeat;
    background-position: center bottom;
}

.fab{
    font-size: 2em;
}
