@font-face {
    font-family: "geomanist-medium";
    src: url("geomanist-medium-webfont.ttf");
}

@font-face {
    font-family: "geomanist-book";
    src: url("geomanist-book-webfont.ttf");
}

h1,h2,h3,p,div,i,a{
    color: #12213A
}

h1:hover, h2:hover {
    color: #2AD2B0;
   } 

h1 {
    font-family: 'geomanist-medium', sans-serif;
    font-size: 1.875rem;
    letter-spacing: 0.2em;
    padding: 1.5rem;  
    }

  
h2 {
    font-family: 'geomanist-book', sans-serif;
    font-size: 1.5rem;
    padding: 1.5rem;
}

h3 {
    font-family: 'geomanist-book', sans-serif;
    font-size: 4rem;
}

p{
    font-family: 'space-mono', monospace;
    font-size: 1.125rem;
}

#bold{
    font-weight: bold;
}
ul li{
    list-style-type: none;
    font-family: 'space-mono', monospace;
    font-size: 1.125rem;

}
div {
    font-family: 'geomanist-book', Helvetica, sans-serif;
    font-size: 1.5rem;
}

#paragraph, #bold{
    padding-left: 2.5rem;
    padding-right: 80px;
}

i{
    font-size: 	3rem;
}

a{
    font-family: 'space-mono', monospace;
    font-size: 1.125rem;
}

.about{
    margin-bottom: 30rem;
    margin-top: 5em;
}

.header{
    background: url("background4.png") no-repeat;
    width: 100%;
    background-size: contain;
}

.background2{
    background: url("background_breakfast.png") no-repeat;
    width: 100%;
    background-size: contain;
    background-position-y: 30em;
}

.background3{
    background: url("background_swatchbook.png") no-repeat;
    width: 100%;
    background-size: contain;
    background-position-y: 5em;
   
}


.work{
    margin-bottom: 25rem;
}


.space{
    margin-bottom: 25em;
}

.footer{
    background: url("background3.png") no-repeat;
    width: 100%;
    background-size: contain;
    background-position-y: 20em;
}
html{
    background: url("background3.png") no-repeat;
    background-position: center bottom;
}

.fab{
    font-size: 2em;
}

.photolog:hover{
    color: #2AD2B0;
}