@font-face {
    font-family: "geomanist-medium";
    src: url("geomanist-medium-webfont.ttf");
}

@font-face {
    font-family: "geomanist-book";
    src: url("geomanist-book-webfont.ttf");
}
body{
    background:none;
}

h1 {
    font-family: 'geomanist-medium', sans-serif;
    font-size: 1.875rem;
    color: #12213A;
    letter-spacing: 0.2em;
    padding: 5px;  
    }

h1:hover{
    color: #2AD2B0;
   } 

h2:hover{
    color: #2AD2B0;
   } 
  
h2 {
    font-family: 'geomanist-book', sans-serif;
    font-size: 1.5rem;
    color: #12213A;
    padding: 5px;
}

h3 {
    font-family: 'geomanist-book', sans-serif;
    font-size: 65px;
    color: #12213A;
}

p {
    font-family: 'space-mono', monospace;
    font-size: 18px;
    color: #12213A;
}
div {
    font-family: 'geomanist-book', Helvetica, sans-serif;
    font-size: 24px;
    color: #12213A;
}

i{
    font-size: 	3rem;
    color: #12213A;
}

a{
    font-family: 'space-mono', monospace;
    font-size: 18px;
    color: #12213A;
}

.header{
    background: url("background4.png") no-repeat;
    width: 100%;
    background-size: contain;
}

.about{
    margin-top: 5em;
}

.about2{
    margin-bottom: 20em;
}

.background2{
    background: url("background_swatchbook.png") no-repeat;
    width: 100%;
    background-size: contain;
    background-position-y: 43em;
}

.work{
    margin-bottom: 10em;
}

.space{
    margin-bottom: 25em;
}

.footer{
    background: url("background3.png") no-repeat;
    width: 100%;
    background-size: contain;
    background-position-y: 20em;
}
html{
    background: url("background3.png") no-repeat;
    background-position: center bottom;
}

.fab{
    font-size: 2em;
}
.photolog:hover{
    color: #2AD2B0;
}

/*Form*/  
input.custom{
    font-family: 'space-mono', monospace;
    font-size: 1.125rem;
    color: #12213A;
  }

textarea{
    font-family: 'space-mono', monospace;
    font-size: 1.125rem;
    color: #12213A;
    border: none;
  }

::placeholder{
    color: #2AD2B0;
  }

input{
    border: none;
  }

input.contact-form-button{
    font-family: 'space-mono', monospace;
    font-size: 1.125rem;
    color: #EDF0F7;
    background-color:#12213A;
  }

input.contact-form-button:hover{
     background-color:#2AD2B0; 
  }
      
 .form input, .form textarea{
    display:block;
    width: 100%;
 }

 html{
    background: url("background3.png") no-repeat;
    width: 100%;
    background-position: center bottom;
}

.disclaimer{
    font-family: 'space-mono', monospace;
    font-size: 12px;
    text-align-last: center;
    padding-right: 20em;
    padding-left: 20em;
    
 }