@font-face {
    font-family: "geomanist-medium";
    src: url("geomanist-medium-webfont.ttf");
}

@font-face {
    font-family: "geomanist-book";
    src: url("geomanist-book-webfont.ttf");
}

body {
    background: none;
}

h1 {
    font-family: 'geomanist-medium', sans-serif;
    font-size: 1.875rem;
    color: #12213A;
    letter-spacing: 0.2em;
}


h1:hover {
    color: #2AD2B0;
}

h2 {
    font-display: none;
    font-family: 'geomanist-book', sans-serif;
    font-size: 1.5rem;
    color: #12213A;
}

h2:hover {
    color: #2AD2B0;
}


h3 {
    font-family: 'geomanist-book', sans-serif;
    font-size: 4rem;
    color: #12213A;
}

p {
    font-family: 'space-mono', monospace;
    font-size: 1.125rem;
    color: #12213A;
}

div {
    font-family: 'geomanist-book', Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #12213A;
}

a {
    font-family: 'space-mono', monospace;
    font-size: 1.125rem;
    color: #12213A;
}

.photolog:hover {
    color: #2AD2B0;
}

.header {
    background: url("background1.png") no-repeat;
    width: 100%;
    background-size: contain;
}

/* .background2{
    background: url("background2.png") no-repeat;
    width: 100%;
    background-size: contain;
    background-position-y: 10em;
}*/

.about {
    margin-top: 8rem;
}

.about2 {
    margin-bottom: 25rem;
}

.space2 {
    margin-bottom: 20rem;
}

.fab {
    font-size: 2rem;
}

/* box section */
.project-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: ease;
    background-color: #12213AAA;
}

.project-container {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.project-container:hover .project-overlay {
    opacity: 1;
}

.project-container .text {
    color: white;
    font-family: 'space-mono', monospace;
    font-size: 1.125rem;
    position: absolute;
    top: 90%;
    bottom: 0%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay:hover {
    background-color: transparent;
    left: 0px;
    top: 0px;
    transition: all 300ms ease 0s;
}



/*Form*/
input.custom {
    font-family: 'space-mono', monospace;
    font-size: 1.125rem;
    color: #12213A;
}

textarea {
    font-family: 'space-mono', monospace;
    font-size: 1.125rem;
    color: #12213A;
    border: none;
}

::placeholder {
    color: #2AD2B0;
}

input {
    border: none;
}

input.contact-form-button {
    font-family: 'space-mono', monospace;
    font-size: 1.125rem;
    color: #EDF0F7;
    background-color: #12213A;
}

input.contact-form-button:hover {
    background-color: #2AD2B0;
}

.form input,
.form textarea {
    display: block;
    width: 100%;
}

/*Footer*/
html {
    background: url("background3.png") no-repeat;
    width: 100%;
    background-attachment: fixed;
    background-position: center bottom;
}

.none {
    visibility: hidden;
}