@font-face {
    font-family: "geomanist-medium";
    src: url("geomanist-medium-webfont.ttf");}

@font-face {
    font-family: "geomanist-book";
    src: url("geomanist-book-webfont.ttf");}


h1{
    font-family: 'geomanist-medium', sans-serif;  
    font-size: 1.875rem;
    color: #12213A;
    letter-spacing: 0.2em;}
    

h1:hover{
    color: #2AD2B0;} 
  
h2 {
    font-display: none;
    font-family: 'geomanist-book', sans-serif;
    font-size: 1.5rem;
    color: #12213A;}

h2:hover{
    color: #2AD2B0;} 
  

h3 {
    font-family: 'geomanist-book', sans-serif;
    font-size: 4rem;
    color: #12213A;
}

p {
    font-family: 'space-mono', monospace;
    font-size: 1.125rem;
    color: #12213A;}
div {
    font-family: 'geomanist-book', Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #12213A;}

a {
    font-family: 'space-mono', monospace;
    font-size: 1.125rem;
    color: #12213A;}
    
.photolog:hover{
    color: #2AD2B0;
}

.header{
    background: url("background1.png") no-repeat;
    width: 100%;
    background-size: contain;
}

.background2{
    background: url("background2.png") no-repeat;
    width: 100%;
    background-size: contain;
    background-position-y: 10em;
}
.about{
    margin-bottom: 30rem;
    margin-top: 8rem;
}

.space{
    margin-bottom: 2rem;
}
.space2{
    margin-bottom: 30rem;
}

.footer{
    background: url("background3.png") no-repeat;
    width: 100%;
    background-size: contain;
    background-position-y: 25rem;
}

html{
    background: url("background3.png") no-repeat;
    background-position: center bottom;
}

.fab{
    font-size: 2rem;
}