@media screen and (max-width: 1024px){
    .header .background2 .footer {
    width: 100%;
}
  }

@media screen and (max-width: 768px){
    .header .background2 .footer {
    width: 100%;
    background-size: contain;
    margin-right: 0%;
    }
}
  
@media screen and (max-width: 320px){
    .header .background2 .footer {
    width: 100%;
    background-size: contain;
    }
}
}

@media screen and (max-width: 519px){
    .container{
        size: contain;
    }
}
